################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
.vs
/Animator/obj
/App/obj
/bin
/BusinessModel/obj
/ContainerWrapper/obj
/DataSource/bin/
/DataSource/obj
/DataSourceSimulator/obj
/DataSourceWebHost/obj
/DataSoureManager/bin
/DataSoureManager/obj
/DBConnector/obj
/DeviceModel/obj
/Logger/obj
/Logger/bin/
/ModelTest/bin
/ModelTest/obj
/MQTTClient/obj
/MqttTest/bin
/MqttTest/obj
/OPCClient/obj
/OPCTest/bin
/OPCTest/obj
/packages
/References/MySql/v4.5.2
/RuntimeSupport/bin/
/RuntimeSupport/obj
/ScriptLibrary/obj
/Symbol/obj
/SymbolConversion/obj
/SymolVisual/obj
/TestTool/obj
/Web/bin
/Web/obj
/WebAgent/obj
/ScriptExecutor/obj
/SymbolRender/obj
/MQTT/obj
/IOServerHost/obj
/PlatformModel/obj/
/IOServer/obj
/PlatformModel/obj
/ConsoleApp1
/Output
/WatchDogService/obj
/IOGateway/obj
/IOGateway/bin/
/IOGateWaybin/
/bin_IOGateway
/ControlPanel/obj
/LicenseMaker/bin
/LicenseMaker/obj
/LicenseTest/bin
/LicenseTest/obj
/Shared/SunupCertificate.cer
/Shared/SunupCertificate.pfx
/Shared/SunupPublic.snk
/Utility/obj
/ControlPanel/IOServerHost.csproj.user
/ControlPanelWeb/obj
/ProcessTest/bin/
/ProcessTest/obj
/WatchDogService/WatchDogService.csproj.user
/ControlPanelWeb/ControlPanelWeb.csproj.user
/InfluxDBWraper/obj
/bin_ControlPanelWeb/
/bin_IOServerHost/
/bin_ControlPanelWeb
/bin_IOServerHost
/LicenseTest/bin/Debug/net7
/ProcessTest/bin/Debug/net7
/bin_ControlPanelWeb/Debug/net7.0
/bin_IOServerHost/Debug/net7.0
/Contract/obj
/DBTest/bin/
/DBTest/obj
/InfluxDBConnector/obj
/DBConnection/obj
/InfluxDBConnection/obj
/NetSocket/obj
/SocketClientTest/bin/
/SocketClientTest/obj
/SocketTest/bin/
/SocketTest/obj
ControlPanelWeb/Properties/PublishProfiles/Publish_Dependent_win-x64_NetCoreApp3.1.pubxml.user
IOServerHost/Properties/PublishProfiles/Publish_Dependent_win-x64_NetCoreApp3.1.pubxml.user
IOServerHost/Properties/PublishProfiles/Publish_SelfHost_linux-arm_NetCoreApp3.1.pubxml.user
IOServer/IOServer.csproj.user
IOGateway/IOGateway.csproj.user
IOGateway/Properties/PublishProfiles/window_portable.pubxml.user
IOGateway/Properties/PublishProfiles/linux-arm.pubxml.user
ControlPanelWeb/Properties/PublishProfiles/Publish_SelfHost_linux-arm_NetCoreApp3.1.pubxml.user
IOServerHost/IOServerHost.csproj.user
LicenseMaker/LicenseMaker.csproj.user
ScriptExecutor/ScriptExecutor.csproj.user
