<log4net>
	<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
		<file value="ControlPanelWebLog\Sunup.log" />
		<appendToFile value="true" />
		<rollingStyle value="Date" />
		<datePattern value="yyyy-MM-dd" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %5level %logger - [MESSAGE]: %message%newline %exception" />
		</layout>
	</appender>
	<appender name="ConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
		<mapping>
			<level value="ERROR" />
			<foreColor value="Red" />
		</mapping>
		<mapping>
			<level value="WARN" />
			<foreColor value="Yellow" />
		</mapping>
		<mapping>
			<level value="INFO" />
			<foreColor value="White" />
		</mapping>
		<mapping>
			<level value="DEBUG" />
			<foreColor value="Green" />
		</mapping>
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %5level %logger - [MESSAGE]: %message%newline %exception" />
		</layout>
	</appender>
  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="10" />
    <connectionType value="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient, Version=5.0.0.0, Culture=neutral, PublicKeyToken=23ec7fc2d6eaa4a5" />
    <connectionString value="server=DESKTOP-UJ7IABI; database=Sunup; uid=SunupAdmin; pwd=SunupAdmin; TrustServerCertificate=True;" />
    <commandText value="INSERT INTO Log ([Date],[Level],[Logger],[Message],[Exception]) VALUES (@log_date,  @log_level, @logger, @message, @exception)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
  </appender>
	<root>
		<level value="All" />
		<!--<appender-ref ref="RollingFile" />
		<appender-ref ref="ConsoleAppender" />-->
    <appender-ref ref="AdoNetAppender" />
	</root>
</log4net>