<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key ="AvailableCheckInterval" value="5000"/>
    <add key ="ClientPath" value=""/>
    <add key ="ClientName" value="Sunup.IOServerHost"/>
    <add key ="LogEvenSource" value= "Sunup IO Server Platform"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
